
*{
    margin: 0;
    padding: 0;
    background-color: rgb(20,20,20);
}


.logo img{
    position: relative;
    height: 25%;
    width: 25%;
    top: 0;
    left:0;
    padding-top: 50px;
    border-radius: 100%; 
    z-index: 0;   
}
.header{
    width: 95vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 3vw;        
}

.header>h1{    
    position: absolute;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    color: white;
    text-align: center;    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    font-size: 1.3vw;
}
.form-container > input{ 
    color: white;
    width: 20vw;   
    font-size: 1.23vw;
    margin: 10px;
    background-color: rgba(99, 98, 98, 0.549);
    border: none;
    padding: 10px;
    border-radius: 10px;
}
.form-container >button{
    color: white;
    font-size: 1.3vw;
    background-color: rgb(1, 93, 223);    
    border: none;
    padding: 10px;
    margin: 50px;
    border-radius: 10px;
}

.form-container>input:focus{
    outline-color:rgb(1, 93, 223);
    border: none;
    outline: none;
}